:root {
	/* Text color */
	--text-cl: #555555;
	--text-cl-second: #303030;
	--sub-titel-cl: rgba(157, 164, 189, 0.6);
	--slogan-hero: #9da4bd;
	--titel-hero-cl: #ffffff;
	--accent-cl: #ff6c00;
	--button-text: #ffffff;
	--link-cl-ligth: #ffffff;

	/* BG color */

	--bgc-main: #ffffff;
	--bgc-second: #f7f7f7;
	--bgc-contact: #191c26;

	/* Others */
	--indent: 30px;
	--items: 2;
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--text-cl);
	letter-spacing: 0.02em;
	background-color: var(--bgc-main);
}

h1,
h2,
h3,
h4,
p,
ul {
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.link {
	text-decoration: none;
	color: inherit;
}

.list {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.card-set {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
	margin: calc(var(--indent) / 2);
	flex-basis: calc(100% - var(--indent) * var(--items)) / var(--items);
}

.container {
	width: 1200px;
	padding: 130px 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Header */

.header {
	background-color: teal;
}

.header .container {
	display: flex;
	align-items: center;
	padding: 0;
}

.logo {
	margin-right: 71px;
}

.header-list {
	display: flex;
	margin-right: auto;
}

.header-item:not(:last-child) {
	margin-right: 40px;
}

.header-link {
	padding: 15px 0;

	color: var(--link-cl-ligth);
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-cl);
}

.button {
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid var(--accent-cl);
	border-radius: 25px;
	width: 160px;
	height: 40px;
}

.btn-ligth {
	background-color: transparent;
	color: var(--button-text);
}

.btn-ligth:hover,
.btn-ligth:focus {
	background-color: var(--accent-cl);
}

.btn-white {
	background-color: transparent;
	color: var(--text-cl-second);
}

.btn-white:hover,
.btn-white:focus {
	background-color: var(--accent-cl);
	color: var(--button-text);
}

.header .button {
	margin-left: 40px;
}

.link-hero {
	color: var(--text-cl-second);
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	transform: rotate(-90deg);
}

.link-hero:hover,
.link-hero:focus {
	color: var(--accent-cl);
}

/* Hero section */

.hero .container {
	display: flex;
	justify-content: space-between;
}

.fone-slider {
	background-color: var(--bgc-contact);
	display: flex;
}

.hero-blok {
	flex-basis: 500px;
	margin-right: auto;
}

.hero-blok .sub-titel {
	margin-bottom: 20px;
}

.sub-titel {
	margin-bottom: 20px;

	color: var(--sub-titel-cl);
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.titel-hero {
	margin-bottom: 20px;

	color: var(--titel-hero-cl);
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
}

.slogan-hero {
	font-size: 18px;
	line-height: 1.63;
	color: var(--slogan-hero);
}

.list-btn-slider {
	display: flex;
	align-items: flex-end;
}

.btn-slider {
	padding: 0;

	font-family: inherit;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	background-color: transparent;
	border: none;
}

.list-btn-slider .item:not(:last-child) {
	margin-right: 26px;
}
.back {
	color: rgba(157, 164, 189, 0.6);
}

.forward {
	text-align: right;
	color: var(--button-text);
}

.btn-slider:focus,
.btn-slider:hover {
	border: none;
}

/* About */

.about {
	display: flex;
}

.about-group {
	width: 500px;
	margin-left: 64px;
}

.subject {
	margin-bottom: 20px;

	font-family: "Raleway";
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
	color: var(--text-cl-second);
}

.slogan {
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 1.67;
}

.text {
	margin-bottom: 40px;

	font-size: 14px;
	line-height: 1.86;
}

/* Price */
.section-price {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;

	background-color: var(--bgc-contact);
	background-image: url(../images/price/price-bg.png);
	background-repeat: no-repeat;
	background-position: center;
}

.price-sub {
	color: var(--titel-hero-cl);
}

.list-sub {
	display: flex;
	margin-bottom: 50px;
}

.price-list {
	flex-basis: 585px;
}

.price-list:first-child {
	background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
	background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list .list {
	padding: 30px 40px;
}

.item-price {
	display: flex;
	align-items: baseline;
	gap: 6px;

	color: var(--slogan-hero);
	font-size: 18px;
	line-height: 1.67;
}

.item-price::before {
	content: "";
	display: inline-block;
	flex-grow: 1;
	height: 1px;
	background-color: rgba(157, 164, 189, 0.12);
}

.item-price-desc {
	order: -1;
}

.item-price:not(:last-child) {
	margin-bottom: 20px;
}

.section-price .button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Benefits */

.benefits {
	display: flex;
}

.list-benefist {
	margin-right: 130px;
	flex-basis: 400px;
}

.item-benefist {
	padding: 20px 24px;

	background-color: var(--bgc-second);
	flex-basis: 170px;
}
.item-benefist > .namber {
	font-weight: 700;
	font-size: 42px;
	line-height: calc(57 / 42);
	text-align: center;
	letter-spacing: 0.05em;
	color: var(--text-cl-second);
}

.item-benefist > .plus {
	font-weight: 600;
	font-size: 16px;
	line-height: 1, 38;
	text-align: center;
	color: var(--accent-cl);
}

.item-benefist > .description {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-align: center;
	color: var(--text-cl-second);
}

.benefits-blok {
	flex-basis: 500px;
	/* margin-left: auto; */
}

/* Team */

.section-team {
	background-color: var(--bgc-second);
}

.team-names {
	padding: 30px 0;
}

.section-team .name {
	margin-bottom: 8px;

	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	color: var(--text-cl-second);
}

.section-team .position {
	color: var(--accent-cl);
	font-size: 14px;
	line-height: 1.38;
	text-align: center;
}

.social-list {
	display: flex;
	justify-content: center;
}

.social-item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	color: var(--text-cl-second);
	background-color: var(--bgc-main);
}

.list-items:not(:last-child) {
	margin-right: 10px;
}

.social-icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
}

.social-item:hover,
.social-item:focus {
	color: var(--accent-cl);
}

/* <!-- Секція Portfolio --> */

.portfolio {
	margin-bottom: 44px;
}

/* Contacts */

.contact {
	display: flex;
}

.section-contacts {
	background-color: var(--bgc-contact);
	background-image: url(../images/contacts/bg-contact.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top 50% left calc(50% + 312px);
}

.address {
	padding: 0 255px 0 100px;
}

.address .subject {
	margin-bottom: 40px;
}

.address-item {
	margin-bottom: 20px;
}

.address-item:last-child {
	margin-bottom: 0;
}

.address-item .link {
	display: flex;
	align-items: center;
}

.address-icon {
	margin-right: 16px;

	width: 24px;
	height: 24px;
	stroke: currentColor;
	fill: none;
}

.section-contacts .subject {
	color: var(--titel-hero-cl);
}

.section-contacts .subject.record {
	opacity: 0.6;
}

.section-contacts .link {
	color: var(--slogan-hero);
	font-size: 18px;
	line-height: 1.67;
	font-style: normal;
}

.section-contacts .link:hover,
.section-contacts .link:focus {
	color: var(--accent-cl);
}

.address .list {
	width: 270px;
	margin-bottom: 70px;
}

.desc {
	margin-bottom: 20px;

	color: var(--titel-hero-cl);
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.desc-time {
	color: var(--slogan-hero);
	font-size: 18px;
	line-height: 1.67;
}

/* Footer */

.section-footer {
	background-color: var(--bgc-second);
}

.footer.container {
	padding-bottom: 0;
	padding-top: 0;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-list {
	display: flex;
}

.footer-list .item {
	padding: 56px 0;
	margin-left: 40px;
}

.footer-list .item:first-child {
	margin-left: 0;
}

.link-footer {
	color: var(--text-cl-second);
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	transform: rotate(-90deg);
}

.link-footer:hover,
.link-footer:focus {
	color: var(--accent-cl);
}
